@import url("https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}
/*-------------------------------------------------------- Background colors */

.menu-bar {
    background-color: #FECCC2;
}

.grey-section {
    background-color: #f2f0f1;
}

.white-section {
    background-color: #fff;
}

#upcoming-classes-intro {
    background-color: #f2f0f1;
}

#enquiry-form {
    background-color: #f2f0f1;
}

.image-gallery {
    background-color: #f2f0f1;
}

/*-------------------------------------------------------- Sections and heading styles */

.section-heading {
    font-family: "Delius Swash Caps", sans-serif;
    color: black;
    padding-bottom: 40px;
    padding-top: 30px;
}

.content-heading{
    font-family: "Open Sans", sans-serif;
    color: darkgrey;
    font-size: 25px;
}

.white-section {
    padding-top: 50px;
    padding-bottom: 90px;
}

.grey-section {
    padding-top: 50px;
    padding-bottom: 90px;
}

/*-------------------------------------------------------- Font & font styles */

.navbar-brand {
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Delius Swash Caps", sans-serif;
    letter-spacing: 1px;
    padding-left: 10px;
}

@media screen and (max-width: 540px) {
    .navbar-brand {
        font-size: 25px;
        padding-left: 5px;
    }
}

.nav-link {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.sub-heading {
    font-family: "Delius Swash Caps", sans-serif;
    color: black;
}

footer p {
    font-family: "Open Sans", sans-serif;
    color: dark-grey;
    font-size: 14px;
}

footer span {
    font-family: "Open Sans", sans-serif;
    color: black;
    font-size: 14px;
}

.hero-text h1 {
    font-family: "Delius Swash Caps", sans-serif;
    color: white;
}

@media screen and (max-width: 540px) {
    .hero-text h1 {
        font-size: 30px;
    }
}
.hero-text p {
    font-family: "Open", sans-serif;
    color: white;
    font-size: 25px;
}

@media screen and (max-width: 540px) {
    .hero-text p {
        font-size: 20px;
    }
}


.section-heading-classes {
    font-family: "Open Sans", sans-serif;
    color: black;
    padding-bottom: 20px;
    padding-top: 20px;
}

@media screen and (max-width: 540px) {
    .section-heading-classes {
   font-size: 25px;
    }
}
.header-text h1 {
    font-family: "Delius Swash Caps", sans-serif;
    color: white;
}

@media screen and (max-width: 540px) {
    .header-text h1 {
        font-size: 30px;
    }
}

.header-text p {
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 25px;
}

.class h3 {
    font-family:"Delius Swash Caps", sans-serif;
    }
}
.class h4 {
    font-family: "Open Sans", sans-serif;
    color: slategrey;
    text-transform: bold;
    font-size: 10px;
}

/*-------------------------------------------------------- Button styles */

/*--.gallery-btn {
    padding-bottom: 30px;
}*/

/*-------------------------------------------------------- Navbar */

.menu-bar {
    color: dimgrey;
    padding: 5px 10px;
}

.nav-link:hover {
    color: black !important;
}

/*-------------------------------------------------------- Footer */

#sticky-footer {
    flex-shrink: none;
    background-color: #FECCC2;
    color: dimgrey;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

/*--Code taken from Boostrap to make sticky
.footer > .container {
    padding-top: 40px 15px;


    min-height: 120px;
    margin: 0; }*/


/*--footer {
  background-color: #FECCC2;
  color: dimgrey;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding-top: 15px;
  padding-left: 15px;
}*/

.social-icons i{
    padding: 10px;
}

#sticky-footer p{

}
#sticky-footer a{
    color: dimgrey;
}

#sticky-footer a:hover{
color: black;
}
/*-------------------------------------------------------- Hero Image*/

.hero-image {
 background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/heroimage.jpg");
 width: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 height: 680px;
}

.hero-text {
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    padding-top: 270px;
}


/*-------------------------------------------------------- Benefits of learning Macrame section*/

.benefits {
    padding-left: 10px;
    padding-right: 10px;
}
d-none d-lg-block 

/*-------------------------------------------------------- Upcoming online classes preview on homepage */



.upcoming-classes-feature {
    padding-top: 50px;
    padding-bottom: 50px;
}

.card {
    margin-top: 30px;
    margin-bottom: 40px;
}




.gallery-item {
width: 286px;
padding-right: 15px;
padding-top: 10px;
padding-bottom: 10px;
 margin-top: 30px;
margin-bottom: 40px;
}

/*-------------------------------------------------------- Online classes page */
/*Used https://stackoverflow.com/questions/47606246/center-positioning-text-in-hero-div for header code */

.header-image {
 background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.25)), url("../images/classesheaderimage.jpg");
 width: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 height: 50vh;
 position:relative;
 }


#upcoming-classes-intro {
    padding-top: 50px;
    padding-bottom: 50px;
}

#classes-list {
    padding: 20px 25px;
}
.class-image {
    padding-top: 20px;
    padding-bottom: 20px;

}

hr{
  border-top: 3px solid #FECCC2;
  width: 30%;
  margin: 0, auto;
  padding: 20px;
}

.class {
    margin: auto;
    padding: 15px;
}

.header-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*-------------------------------------------------------- Class enquiry section */

.form-style {
    width: 600px;
    padding: 15px;
}

#enquiry-form {
    padding: 20px 10px;
}

@media screen and (max-width: 540px) {
    .form-style {
        width: 300px;
    }
}
/*-------------------------------------------------------- Gallery feature first attempt


.carousel-inner {
    padding: 30px;
    margin: auto;
}

 */

/*-------------------------------------------------------- Gallery feature second attempt */

.gallery-header-image {
 background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.25)), url("../images/galleryheaderimage.jpg");
 width: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 height: 50vh;
 position:relative;
 }

.gallery-intro {
    padding-top: 50px;
    padding-bottom: 50px;
}

.gallery-intro a{
    color: darkgrey;
}

.gallery-intro a:hover{
    color:black;
}

div.gallery {
  background-color: white;
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.image-gallery {
    padding-top: 10px;
    padding-bottom: 40px;
}

.image-gallery-row {
    margin: 20px;
}


/*-------------------------------------------------------- Contact */


.contact-header-image {
 background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.20)), url("../images/gallery10.jpg");
 width: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 height: 50vh;
 position:relative;
 }
.contact-form {
    padding: 20px 10px;
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: darkgrey;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}