@import url("https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/*-------------------------------------------------------- Background colors */

.menu-bar {
    background-color: #FECCC2;
}


/*-------------------------------------------------------- Font & font styles */

.navbar-brand {
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Delius Swash Caps", sans-serif;
    letter-spacing: 1px;
}

.nav-link {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.sub-heading {
    font-family: "Delius Swash Caps", sans-serif;
    color: black;
}

footer p {
    font-family: "Open Sans", sans-serif;
    color: black;
    font-size: 14px;
}

footer span {
    font-family: "Open Sans", sans-serif;
    color: black;
    font-size: 14px;
}

.hero-text h1 {
    font-family: "Delius Swash Caps", sans-serif;
    color: white;
    font-size: 45px;
}

.hero-text p {
    font-family: "Open", sans-serif;
    color: white;
    font-size: 16px;
}

/*-------------------------------------------------------- Navbar */

.menu-bar {
    color: dimgrey;
}

.nav-link:hover {
    color: black !important;
}

/*-------------------------------------------------------- Footer */

footer {
    background-color: #FECCC2;
    color: dimgrey;
    min-height: 120px;
    margin: 0;
    padding-top: 5px;
}

.social-icons a i{
    color: black;
    padding: 5px;
    margin-bottom: 1rem;
}

.contact i {
    color: black;
    margin-bottom: 1rem;
}

/*-------------------------------------------------------- Banner Image Section*/

.hero-image {
 background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/heroimage.jpg");
 width: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 height: 80vh;
}

.hero-text {
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    padding-top: 250px;
}

